In [ ]:
!pip install -q tabula-py

In [ ]:
import tabula
import pandas as pd
import string

In [ ]:
master=tabula.read_pdf("/content/bemechcurriculum.pdf", stream=True,pages='all')

WARNING:tabula.io:Got stderr: Jan 07, 2023 12:20:05 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Jan 07, 2023 12:20:06 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored
Jan 07, 2023 12:20:23 PM org.apache.fontbox.ttf.CmapSubtable processSubtype14
WARNING: Format 14 cmap table is not supported and will be ignored

In [ ]:
master[2]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,SEMESTER 3,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Sl.,Course,Course,NaN,NaN,NaN,NaN,NaN,Marks Page
1,NaN,NaN,NaN,Course Title L,NaN,T,P,C,NaN
2,No.,Type,Code,NaN,NaN,NaN,NaN,NaN,No. CAE ESE
3,1,Theory,SMTA1301,Engineering Mathematics - III 3,NaN,*,0,3,50 50 23
4,2,Theory,SMEA1301,Engineering Metrology 3,NaN,0,0,3,50 50 24
5,3,Theory,SMEA1302,Engineering Thermodynamics 3,NaN,*,0,3,50 50 26
6,4,Theory,SMEA1303,Fluid Mechanics and Machinery 3,NaN,*,0,3,50 50 27
7,5,Theory,SMEA1304,Machine Drawing 1,NaN,0,4,3,50 50 28
8,6,Theory,SMEA1305,Mechanics of Solids 3,NaN,*,0,3,50 50 30
9,NaN,NaN,NaN,Fluid Mechanics and Machinery,NaN,NaN,NaN,NaN,NaN
10,7,Practical,SMEA2301,0,NaN,0,4,2,50 50 31
11,NaN,NaN,NaN,Lab,NaN,NaN,NaN,NaN,NaN
12,8,Practical,SMEA2302,Material Testing and Metallurgy Lab 0,NaN,0,4,2,50 50 32
13,NaN,NaN,NaN,Total Credits for Semester 3 – 22,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,Total Marks for Semester 3 – 800,NaN,NaN,NaN,NaN,NaN

In [ ]:
refined=[]
for num in range(8):
  if num==4:
    continue
  temp=master[num].drop(['Unnamed: 0','Unnamed: 1', 'Unnamed: 3','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 7'], axis=1)
  if 'Unnamed: 8' in temp.columns:
    temp.drop(['Unnamed: 8'], inplace=True, axis=1)

  if(pd.isna(temp.iloc[3:4, -1]).bool()):
    temp.drop([0,1,2,3], axis=0, inplace=True)
  else:
    temp.drop([0,1,2], axis=0, inplace=True) 

  temp.columns=['Subject_Code','Subject','Credits']
  temp.dropna(axis=0, how="all", inplace=True)
  temp.reset_index(drop=True, inplace=True)  
  refined.append(temp[:-2])

len(refined)

7

**INDIVIDUAL CLEANING:**

In [ ]:
final=[]

In [ ]:
def nstrip(num):
  for val in range(len(refined[num])):
    refined[num]["Subject"][val]=refined[num]["Subject"][val].rstrip('0123456789')

SEM 1:

In [ ]:
refined[0]

   Subject_Code                        Subject Credits
0      SMTA1101  Engineering Mathematics - I 3       3
1      SPHA1101        Physics for Engineers 3       4
2           NaN      Environmental Science and     NaN
3      SBTA1101                              2       0
4           NaN                    Engineering     NaN
5      SCSA1103             Programming in C 3       3
6      SMEA1101         Engineering Graphics 1       3
7           NaN     Fundamentals of Mechanical     NaN
8      SMEA1203                              3       3
9           NaN                    Engineering     NaN
10     SPHA2101                  Physics Lab 0       1
11     SCSA2104        Programming in C  Lab 0       2
12     SMEA2101    Computer Aided Design Lab 0       2

In [ ]:
nstrip(0)

In [ ]:
refined[0]["Subject_Code"][2]="SBTA1101"
refined[0]["Subject_Code"][7]="SMEA1203"
refined[0]["Credits"][7]="3"
final.append(refined[0].drop([3,4,8,9], axis=0).reset_index(drop=True))

SEM 2:

In [ ]:
refined[1]

   Subject_Code                           Subject Credits
0      SHSA1101               Technical English 3       3
1      SMTA1201    Engineering Mathematics - II 3       3
2           NaN  Basic Electrical and Electronics     NaN
3      SEEA1101                                 3       3
4           NaN                       Engineering     NaN
5      SCYA1101           Engineering Chemistry 3       4
6           NaN         Engineering Materials and     NaN
7      SMEA1201                                 3       3
8           NaN                        Metallurgy     NaN
9      SMEA1202           Engineering Mechanics 3       3
10     SCYA2101       Engineering Chemistry Lab 0       1
11     SMEA2201               Workshop Practice 0       2

In [ ]:
nstrip(1)

In [ ]:
refined[1]["Subject_Code"][2]="SEEA1101"
refined[1]["Credits"][2]="3"
refined[1]["Subject_Code"][6]="SMEA1201"
refined[1]["Credits"][6]="3"

final.append(refined[1].drop([3,4,7,8], axis=0).reset_index(drop=True))

SEM 3:

In [ ]:
refined[2]

  Subject_Code                                Subject Credits
0     SMTA1301        Engineering Mathematics - III 3       3
1     SMEA1301                Engineering Metrology 3       3
2     SMEA1302           Engineering Thermodynamics 3       3
3     SMEA1303       Fluid Mechanics and  Machinery 3       3
4     SMEA1304                      Machine Drawing 1       3
5     SMEA1305                  Mechanics of Solids 3       3
6          NaN          Fluid Mechanics and Machinery     NaN
7     SMEA2301                                      0       2
8          NaN                                    Lab     NaN
9     SMEA2302  Material Testing and Metallurgy Lab 0       2

In [ ]:
nstrip(2)

In [ ]:
refined[2]["Subject_Code"][6]="SMEA2301"
refined[2]["Subject"][6]="Fluid Mechanics and Machinery Lab"
refined[2]["Credits"][6]="2"

final.append(refined[2].drop([7,8], axis=0).reset_index(drop=True))

SEM 4:

In [ ]:
refined[3]

  Subject_Code                         Subject Credits
0     SMTA1401  Engineering Mathematics - IV 3       3
1     SAIC4001                  Industry 4.0 2       2
2     SMEA1401  Manufacturing Technology - I 3       3
3     SMEA1402         Mechanics of Machines 3       3
4     SMEA1403       Power Plant Engineering 3       3
5     SMEA1404           Thermal Engineering 3       3
6          NaN       Engineering Metrology and     NaN
7     SMEA2401                               0       2
8          NaN                    Dynamics Lab     NaN
9     SMEA2402   Manufacturing Processes Lab 0       2

In [ ]:
nstrip(3)

In [ ]:
refined[3]['Subject_Code'][6]='SMEA2401'
refined[3]['Credits'][6]='2'
refined[3]['Subject'][6]='Engineering Metrology and Dynamics Lab'

final.append(refined[3].drop([7,8],axis=0).reset_index(drop=True))

SEM 5:

In [ ]:
master[4]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,SEMESTER5,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sl.,Course,Course,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marks,Page
1,NaN,NaN,NaN,NaN,Course Title,L,NaN,T,P,C,NaN,NaN
2,No.,Type,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CAE ESE,No.
3,1,Theory,SMEA1501,CAD/CAM,NaN,3,NaN,0,0,3,50 50,41
4,2,Theory,SMEA1502,Design of Machine Elements,NaN,3,NaN,*,0,3,50 50,43
5,3,Theory,SMEA1503,Finite Element Analysis,NaN,3,NaN,*,0,3,50 50,44
6,4,Theory,SMEA1504,Heat and Mass Transfer,NaN,3,NaN,*,0,3,50 50,45
7,5,Theory,SMEA1505,Manufacturing Technology - II,NaN,3,NaN,0,0,3,50 50,46
8,6,Theory,NaN,Open Elective - I,NaN,3,NaN,0,0,3,50 50,-
9,7,Practical,S15APT1,Professional Training,NaN,0,NaN,0,4,2,50 50,-
10,8,Practical,SMEA2501,CAD / CAM Lab,NaN,0,NaN,0,4,2,50 50,47
11,NaN,NaN,NaN,Thermal Engineering Lab - I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9,Practical,SMEA2502,NaN,NaN,0,NaN,0,4,2,50 50,48
13,NaN,NaN,NaN,(Engines),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,Total Credits for Semester 5 - 24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,Total Marks for Semester 5 – 900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
temp=master[4].drop(["Unnamed: 0","Unnamed: 1","SEMESTER5","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 9","Unnamed: 10"], axis=1)
temp.drop([0,1,2], axis=0, inplace=True)
temp.columns=['Subject_Code','Subject','Credits']
temp.drop([12,13,14,15], axis=0, inplace=True)
temp["Subject_Code"][11]="SMEA2502"
temp["Credits"][11]="2"

In [ ]:
final.append(temp.reset_index(drop=True))

SEM 6:

In [ ]:
refined[4]

  Subject_Code                            Subject Credits
0     SMEA1601   Design of Transmission Systems 3       3
1     SMEA1602  Gas Dynamics and Jet propulsion 3       3
2          NaN                     Elective - I 3       3
3          NaN                    Elective - II 3       3
4          NaN               Open Elective - II 3       3
5     SMEA2601          Design and Analysis Lab 0       2
6          NaN      Thermal Engineering Lab -  II     NaN
7     SMEA2602                                  0       2
8          NaN                    (Heat Transfer)     NaN
9      S15APT2      Inter Disciplinary  project 0       3

In [ ]:
nstrip(4)

In [ ]:
refined[4]["Subject_Code"][6]="SMEA2602"
refined[4]["Credits"][6]="2"
final.append(refined[4].drop([7,8], axis=0).reset_index(drop=True))

SEM 7:

In [ ]:
refined[5]

  Subject_Code                      Subject Credits
0     SMEA1701       Automobile Engineering       3
1     SMEA1702      Industrial Mechatronics       3
2          NaN               Elective - III       3
3          NaN                Elective – IV       3
4          NaN          Open Elective – III       3
5     SMEA2701  Robotics and Automation Lab       2
6    S15APROJ1     Project Work (Phase – I)       3

In [ ]:
final.append(refined[5])

SEM 8:

In [ ]:
refined[6]

  Subject_Code                      Subject Credits
0          NaN               Elective - V 3       3
1          NaN              Elective - VI 3       3
2    S15APROJ2  Project Work (Phase – II) 0       7

In [ ]:
nstrip(6)
final.append(refined[6])

**CSV:**

In [ ]:
names=["sem1","sem2","sem3","sem4","sem5","sem6","sem7","sem8"]
for df,name in zip(final, names): 
   df.to_csv(name + '.csv')